  #table-lista {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #161616}
  tr:nth-child(odd){background-color: #534e4e}
  tr:nth-child(even){color: #fff}
  tr:nth-child(odd){color: #fff}
  
  th {
    background-color: red;
    color: white;
  }
  .tabelalancamento{
    width: 80%;
    margin: 50px
  }
  .listagem{
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .listagem h2{
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 2em;
  }
  .tabelalancamento{
    display: flex;
    justify-content: center;
  }
  .cadastrolancamentoadm h2{
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 2em;
  }
  .cadastrolancamentoadm{
    background-color: #202020;
  }
  .imgFilme{
    width: 200px
  }
  