.icons  img{
    width: 40px;
    margin: 5px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer{
    display: flex;
    flex-direction: column;
}
footer p {
    text-align: center;
    color: #BCBCBC;
}
footer h4{
    color: #BCBCBC;
    text-align: center;
}
.pezinho{
    display: flex;
    justify-content: center;
    background-color: #161616;
}   